<!DOCTYPE html>
<html lang="pt-br">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>SindCode</title>
</head>
<body>
    <h4>Cadastro de Associado</h4>
    <form>
        CPF <input type="text" name="cpf" placeholder="000.000.000-00">
        RG <input type="text" name="rg">
        Nome Completo <input type="text" name="rg">
        Nome Social <input type="text" name="rg">
        Genero
        <select>
            <option value="m">Masculino</option>
            <option value="f">Feminino</option>
            <option value="b">Binário</option>
            <option value="o">Outros</option>
            <option value="n">Prefiro não responder</option>
        </select>
        Data Nascimento
        <input type="date" name="dt_nasc">
        <input type="submit" value="cadastrar">
    </form>
</body>
</html>