/*
   estilizar uma tag
   estilizar uma classe
   estilizar um identificador

 */
body{
    background-color:#2D276A;
}
.para_azul{
   color: blue;
}
#topo{
    background-color: green;
    width: 1852px;
    height: 160px;
    border:2px solid #aaaaaa;
}
#midias_busca{
    background-color: #3F3F3F;
    width:100%;
    height: 52px;
}
#logo_menu{
    background-color: #00E3A2;
    width:100%;
    height:108px;
}
main{
    width: 100%;
    height: 1200px;
    border:2px solid #aaaaaa;
    background-color: #FF7F00;
}
footer{
    height: 67px;
    background-color:#00AEEF; /* azul ciano vibrante*/

}